// Blog detail pages style
.blog {
  width: 100%;
  flex-grow: 1;

  @include responsive(md) {
    height: 100%;
  }

  &__img {
    max-height: 100%;
    max-width: 100%;
    float: right;
    margin: 0 0 $space-m $space-m;

    &.left {
      float: left;
      margin: 0 $space-m $space-m 0;
    }

    @include responsive(md) {
      max-width: 50%;
      width: 500px;
    }
  }

  &__text {
    font-size: $font-size-s;
    font-weight: $font-weight-regular;
    line-height: $line-height-normal;
    color: $secondary-color;
    margin: 0;
    flex-grow: 1;

    @include responsive(md) {
      font-size: $font-size-l;
    }
  }

  &__navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: $space-m;
    flex: 0;

    &.one-col {
      grid-template-columns: 1fr;
    }
  }

  &__link {
    color: $primary-color;
    padding-top: $space-m;
    padding-bottom: $space-m;
    font-size: $font-size-m;
    font-weight: $font-weight-medium;

    @include responsive(lg) {
      font-size: $font-size-xl;
    }

    &.prev {
      justify-self: start;
    }

    &.next {
      justify-self: end;
    }
  }
} 