.introduction {
  width: 100%;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: $space-m;
  padding-right: $space-m;

  @include responsive(md) {
    background-color: $bg-light-color;
    height: 100%;
    padding-left: $space-l;
    padding-right: $space-l;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include responsive(md) {
      align-items: flex-start;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;

    @include responsive(md) {
      display: none;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include responsive(md) {
      align-items: flex-start;
    }
  }

  &__text {
    font-size: $font-size-xxl;
    font-weight: $font-weight-regular;
    text-align: center;
    line-height: $line-height-tight;

    strong {
      color: $primary-color;
    }
  }

  &__content {
    text-align: center;
    line-height: $line-height-normal;
    color: $secondary-color;
    font-size: $font-size-m;
    margin-bottom: $space-xl;

    @include responsive(md) {
      text-align: left;
      font-size: $font-size-m;
    }
  }
} 