.navbar {
  display: flex;
  align-items: center; }
  @media (min-width: 768px) {
    .navbar {
      grid-area: 2 / 1 / 2 / 1;
      align-items: flex-start;
      margin-top: 2rem; } }
  .navbar__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    flex: 1;
    width: 100%; }
    @media (min-width: 768px) {
      .navbar__list {
        flex-direction: column; } }
  .navbar__item {
    margin-right: 1rem;
    display: flex;
    justify-content: center; }
    .navbar__item:last-of-type {
      margin-right: 0; }
    @media (min-width: 768px) {
      .navbar__item {
        margin-right: 0;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem; } }
  .navbar__link {
    font-size: 1rem;
    font-weight: 600;
    color: #120e18;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    transition: all 0.3s; }
    .navbar__link.actived {
      color: #f953a2;
      font-weight: 700;
      font-size: 1.125rem; }
    .navbar__link:hover {
      color: #f953a2; }

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .user-info {
      grid-area: 1 / 1 / 1 / 1;
      justify-content: flex-start;
      padding-top: 0; } }
  .user-info__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    border: 4px solid #f953a2; }
    @media (min-width: 768px) {
      .user-info__img {
        width: 100px;
        height: 100px; } }
    @media (min-width: 1024px) {
      .user-info__img {
        width: 120px;
        height: 120px; } }
  .user-info__name {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: none; }
    @media (min-width: 768px) {
      .user-info__name {
        display: block; } }
  .user-info.sm-hidden {
    display: none; }
    @media (min-width: 768px) {
      .user-info.sm-hidden {
        display: flex; } }

.copy-right {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    .copy-right {
      margin-bottom: 0; } }
  .copy-right__content {
    font-weight: 600;
    font-size: 0.875rem; }

.social-network-contact {
  padding-top: 1rem; }
  @media (min-width: 768px) {
    .social-network-contact {
      grid-area: 3 / 1 / 3 / 1;
      padding-top: 0; } }
  .social-network-contact__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0; }
  .social-network-contact__item {
    margin-right: 1rem;
    font-size: 1rem; }
    .social-network-contact__item:last-child {
      margin-right: 0; }
  .social-network-contact__link {
    flex: none;
    transition: all 0.3s ease; }
    .social-network-contact__link:hover {
      color: #f953a2; }

.btn {
  border-radius: 100px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: #120e18;
  background-color: #f8f9fa;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  min-height: 2.5em;
  transition: all 0.3 ease;
  cursor: pointer; }
  .btn:hover {
    opacity: 0.5; }
  .btn.btn-primary {
    background-color: #f953a2;
    color: #ffffff;
    border: 0; }
    .btn.btn-primary:hover {
      background: #ffffff;
      color: #f953a2;
      border: 2px solid #f953a2;
      opacity: 1; }

.footer {
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    .footer {
      grid-area: 4 / 1 / 4 / 1;
      margin-bottom: 0; } }

.card-list {
  margin-top: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
  @media (min-width: 1024px) {
    .card-list {
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); } }

.card {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
  min-height: 300px;
  max-width: 100%; }
  @media (min-width: 768px) {
    .card {
      background-color: #ffffff; } }
  .card__image {
    height: 160px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
    .card__image img {
      transition: .3s ease-in-out;
      filter: blur(1px);
      transform: rotate(10deg) scale(1.2);
      max-width: 100%;
      width: 100%; }
  .card:hover img {
    filter: blur(0);
    transform: rotate(0) scale(1); }
  .card__info {
    padding: 1rem; }
    .card__info__footer {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .card__title {
    color: #120e18;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; }
  .card__content {
    color: #464d52;
    font-size: 0.875rem;
    margin: 0;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal; }
  .card__link {
    color: #f953a2;
    font-size: 0.875rem;
    font-weight: 600; }
  .card__date {
    color: #120e18;
    font-size: 0.75rem;
    font-weight: 600;
    display: inline-block; }
  .card.card-project .card__image {
    height: 160px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%); }

html,
body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #120e18;
  background-color: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: auto;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%; }
  html *,
  body * {
    box-sizing: border-box; }
  html a,
  body a {
    text-decoration: none; }

.page-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.25rem;
  text-align: center;
  flex: none;
  margin: 0;
  margin-bottom: 2rem; }
  .page-title::after {
    content: "";
    width: 80px;
    height: 4px;
    display: block;
    background-color: #f953a2;
    margin: 0 auto;
    margin-top: 0.5rem; }
    @media (min-width: 768px) {
      .page-title::after {
        height: 6px;
        margin-left: 0;
        margin-top: 0.25rem; } }
  @media (min-width: 768px) {
    .page-title {
      margin-top: 2rem;
      text-align: left; } }

.date {
  color: #120e18;
  font-size: 0.75rem;
  font-weight: 600;
  display: inline-block; }
  .date.date-blog {
    margin-bottom: 1rem;
    font-size: 1rem; }

@font-face {
  font-family: 'porfolio';
  src: url("../assets/fonts/porfolio.eot");
  src: url("../assets/fonts/porfolio.eot") format("embedded-opentype"), url("../assets/fonts/porfolio.woff2") format("woff2"), url("../assets/fonts/porfolio.woff") format("woff"), url("../assets/fonts/porfolio.ttf") format("truetype"), url("../assets/fonts/porfolio.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*------------------------
	base class definition
-------------------------*/
.icon {
  display: inline-block;
  font: normal normal normal 1em/1 'porfolio';
  color: inherit;
  flex-shrink: 0;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*------------------------
  change icon size
-------------------------*/
/* relative units */
.icon-sm {
  font-size: 0.8em; }

.icon-lg {
  font-size: 1.2em; }

/* absolute units */
.icon-16 {
  font-size: 16px; }

.icon-32 {
  font-size: 32px; }

/*------------------------
  spinning icons
-------------------------*/
.icon-is-spinning {
  animation: icon-spin 1s infinite linear; }

@keyframes icon-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*------------------------
  rotated/flipped icons
-------------------------*/
.icon-rotate-90 {
  transform: rotate(90deg); }

.icon-rotate-180 {
  transform: rotate(180deg); }

.icon-rotate-270 {
  transform: rotate(270deg); }

.icon-flip-y {
  transform: scaleY(-1); }

.icon-flip-x {
  transform: scaleX(-1); }

/*------------------------
	icons
-------------------------*/
.icon-email::before {
  content: "\ea01"; }

.icon-github::before {
  content: "\ea02"; }

.icon-linkedin::before {
  content: "\ea03"; }

.container {
  width: 100%;
  max-height: 100%;
  min-width: 360px;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  overflow-y: hidden;
  grid-template-columns: auto;
  grid-template-rows: 80px 1fr;
  grid-row-gap: 2rem; }
  @media (min-width: 768px) {
    .container {
      padding-top: 2rem;
      padding-bottom: 2rem;
      height: 100vh;
      grid-template-columns: 200px auto;
      grid-template-rows: 160px 1fr 20px 20px;
      grid-row-gap: 2rem; } }
  @media (min-width: 1024px) {
    .container {
      grid-template-columns: 300px auto; } }

.main-content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: auto; }
  @media (min-width: 768px) {
    .main-content {
      grid-area: 1 / 2 / 5 / 2;
      background-color: #f8f9fa;
      margin-right: 1rem; } }
  @media (min-width: 1024px) {
    .main-content {
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 3rem;
      margin-right: 2rem; } }

.introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 768px) {
    .introduction {
      height: 100%; } }
  .introduction__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media (min-width: 768px) {
      .introduction__container {
        align-items: flex-start; } }
  .introduction__title {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 768px) {
      .introduction__title {
        align-items: flex-start; } }
  .introduction__text {
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.25; }
    .introduction__text strong {
      color: #f953a2; }
  .introduction__content {
    text-align: center;
    line-height: 1.5;
    color: #464d52;
    font-size: 1rem;
    margin-bottom: 3rem; }
    @media (min-width: 768px) {
      .introduction__content {
        text-align: left;
        font-size: 1.125rem; } }

.personal-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 768px) {
    .personal-info {
      align-items: flex-start; } }
  .personal-info__section {
    margin-bottom: 2rem; }
    .personal-info__section:last-of-type {
      margin-bottom: 0; }
  .personal-info__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
    flex: none;
    margin: 0;
    margin-bottom: 0.75rem; }
    @media (min-width: 768px) {
      .personal-info__title {
        text-align: left; } }
  .personal-info__content {
    text-align: center;
    line-height: 1.5;
    color: #464d52;
    font-size: 1rem;
    margin: 0; }
    @media (min-width: 768px) {
      .personal-info__content {
        text-align: left;
        font-size: 1.125rem; } }

.blog {
  width: 100%;
  flex-grow: 1; }
  @media (min-width: 768px) {
    .blog {
      height: 100%; } }
  .blog__img {
    max-height: 100%;
    max-width: 100%;
    float: right;
    margin: 0 0 1rem 1rem; }
    .blog__img.left {
      float: left;
      margin: 0 1rem 1rem 0; }
    @media (min-width: 768px) {
      .blog__img {
        max-width: 50%;
        width: 500px; } }
  .blog__text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #464d52;
    margin: 0;
    flex-grow: 1; }
    @media (min-width: 768px) {
      .blog__text {
        font-size: 1.125rem; } }
  .blog__navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    flex: 0; }
    .blog__navigation.one-col {
      grid-template-columns: 1fr; }
  .blog__link {
    color: #f953a2;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600; }
    @media (min-width: 1024px) {
      .blog__link {
        font-size: 1.25rem; } }
    .blog__link.prev {
      justify-self: start; }
    .blog__link.next {
      justify-self: end; }
