.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style: none;
  flex: 1; }
  .navbar__item {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem; }
  .navbar__link {
    font-size: 1rem;
    font-weight: 600;
    color: #120e18;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    transition: all 0.5s ease; }
    .navbar__link.actived {
      color: #ef2585;
      font-weight: 700;
      font-size: 1.125rem; }
    .navbar__link:hover {
      color: #ef2585; }

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .user-info__img, .introduction__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    border: 4px solid #ef2585; }
  .user-info__name {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem; }

.copy-right {
  display: flex;
  width: 100%;
  justify-content: center; }
  .copy-right__content {
    font-weight: 600;
    font-size: 0.875rem; }

.introduction {
  height: 100%;
  width: 100%;
  background-color: #f8f9fa;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .introduction__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 768px) {
      .introduction__container {
        align-items: flex-start; } }
  .introduction__img {
    width: 200px;
    height: 200px; }
    @media (min-width: 768px) {
      .introduction__img {
        display: none; } }
  .introduction__title {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 768px) {
      .introduction__title {
        align-items: flex-start; } }
  .introduction__text {
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.25; }
    .introduction__text strong {
      color: #ef2585; }
  .introduction__content {
    text-align: center;
    line-height: 1.5;
    font-size: 1rem; }
    @media (min-width: 768px) {
      .introduction__content {
        text-align: left;
        font-size: 1rem; } }

.social-network-contact {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem; }
  .social-network-contact__item {
    margin-right: 1rem;
    font-size: 1rem; }
    .social-network-contact__item:last-child {
      margin-right: 0; }
  .social-network-contact__link {
    flex: none; }
    .social-network-contact__link:hover {
      color: #ef2585; }

html,
body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #120e18;
  background-color: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: auto;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%; }
  html *,
  body * {
    box-sizing: border-box; }
  html a,
  body a {
    text-decoration: none; }

@font-face {
  font-family: 'porfolio';
  src: url("../assets/fonts/porfolio.eot");
  src: url("../assets/fonts/porfolio.eot") format("embedded-opentype"), url("../assets/fonts/porfolio.woff2") format("woff2"), url("../assets/fonts/porfolio.woff") format("woff"), url("../assets/fonts/porfolio.ttf") format("truetype"), url("../assets/fonts/porfolio.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*------------------------
	base class definition
-------------------------*/
.icon {
  display: inline-block;
  font: normal normal normal 1em/1 'porfolio';
  color: inherit;
  flex-shrink: 0;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*------------------------
  change icon size
-------------------------*/
/* relative units */
.icon-sm {
  font-size: 0.8em; }

.icon-lg {
  font-size: 1.2em; }

/* absolute units */
.icon-16 {
  font-size: 16px; }

.icon-32 {
  font-size: 32px; }

/*------------------------
  spinning icons
-------------------------*/
.icon-is-spinning {
  animation: icon-spin 1s infinite linear; }

@keyframes icon-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*------------------------
  rotated/flipped icons
-------------------------*/
.icon-rotate-90 {
  transform: rotate(90deg); }

.icon-rotate-180 {
  transform: rotate(180deg); }

.icon-rotate-270 {
  transform: rotate(270deg); }

.icon-flip-y {
  transform: scaleY(-1); }

.icon-flip-x {
  transform: scaleX(-1); }

/*------------------------
	icons
-------------------------*/
.icon-email::before {
  content: "\ea01"; }

.icon-github::before {
  content: "\ea02"; }

.icon-linkedin::before {
  content: "\ea03"; }

.container {
  width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex; }
  .container__left {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    height: 100%;
    width: 200px;
    flex: none;
    display: none; }
    @media (min-width: 768px) {
      .container__left {
        display: flex;
        padding: 2rem; } }
    @media (min-width: 1024px) {
      .container__left {
        display: flex;
        width: 300px;
        padding: 2rem; } }
  .container__right {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    padding: 1rem; }
    @media (min-width: 768px) {
      .container__right {
        padding-top: 2rem;
        padding-left: 0;
        padding-right: 2rem;
        padding-bottom: 2rem; } }
