// Button component
.btn {
  border-radius: 100px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: $text-color;
  background-color: $bg-light-color;
  font-weight: $font-weight-medium;
  font-size: $font-size-m;
  display: flex;
  align-items: center;
  min-height: 2.5em;
  transition: all 0.3 ease;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  // Button variant
  &.btn-primary {
    background-color: $primary-color;
    color: $btn-primary-color;
    border: 0;

    &:hover {
      background: $bg-color;
      color: $primary-color;
      border: 2px solid $primary-color;
      opacity: 1;
    }
  }
}