.card {
  background-color: $bg-color;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3 ease;
  min-height: 300px;
  width: 300px;

  @include responsive(sm) {
    max-width: 50%;
  }


  &:hover {
    div {
      filter: blur(0);
    }
  }

  &__image {
    height: 160px;
    clip-path: polygon(0 0 , 100% 0, 100% 90%, 0 100%);
    filter: blur(2px);
  	transition: .3s ease-in-out;

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    padding: $font-size-m;
  }
  
  &__title {
    color: $text-color;
    font-size: $font-size-m;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: $space-xxxs;
  }

  &__date {
    color: $text-color;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    margin-bottom: $space-m;
    display: inline-block;
  }
   
  &__content {
    color: $secondary-color;
    font-size: $font-size-s;
    margin: 0;
  }
}


