.social-network-contact {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: $space-m;

  &__item {
    margin-right: $space-m;
    font-size: $font-size-m;

    &:last-child {
      margin-right: 0;
    }
  } 

  &__link {
    flex: none;

    &:hover {
      color: $primary-color;
    }
  }
}