.social-network-contact {
  @include responsive(md) {
    grid-area: 3 / 1 / 3 / 1;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  &__item {
    margin-right: $space-m;
    font-size: $font-size-m;

    &:last-child {
      margin-right: 0;
    }
  } 

  &__link {
    flex: none;
    transition: all 0.3s ease;

    &:hover {
      color: $primary-color;
    }
  }
}