.container {
  width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;

  &__left {
    height: 100%;
    width: 300px;
    flex: none;
    display: none;
    background-color: var(--primary-color);  
    
    @include responsive(md) {
      display: block;
    }
  }

  &__right {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    background-color: red;
  }
}