.container {
  width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;

  &__left {
    // background: url(../assets/images/cherry_blossom.png);
    // background-repeat: no-repeat;
    // background-position: top;
    display: flex;
    padding: $space-m;
    flex-direction: column;
    height: 100%;
    width: 200px;
    flex: none;
    display: none;
    
    @include responsive(md) {
      display: flex;
      padding: $space-l;
    }

    @include responsive(lg) {
      display: flex;
      width: 300px;
      padding: $space-l;
    }
  }

  &__right {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    padding: $space-m;
    overflow: auto;

    @include responsive(md) {
      padding-top: $space-l;
      padding-left: 0;
      padding-right: $space-l;
      padding-bottom: $space-l;
    }
  }
}