// Main container style
.container {
  width: 100%;
  max-height: 100%;
  min-width: 360px;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  overflow-y: hidden;
  grid-template-columns: auto;
  grid-template-rows: 80px 1fr;
  grid-row-gap: $space-l;

  @include responsive(md) {
    padding-top: $space-l;
    padding-bottom: $space-l;
    height: 100vh;
    grid-template-columns: 200px auto;
    grid-template-rows: 160px 1fr 20px 20px;
    grid-row-gap: $space-l;
  }

  @include responsive(lg) {
    grid-template-columns: 300px auto;
  }
}

// Main content style
.main-content  {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  padding-left: $space-m;
  padding-right: $space-m;
  overflow: auto;

  @include responsive(md) {
    grid-area: 1 / 2 / 5 / 2;
    background-color: $bg-light-color;
    margin-right: $space-m;

  }

  @include responsive(lg) {
    padding-left: $space-xl;
    padding-right: $space-xl;
    padding-bottom: $space-xl;
    margin-right: $space-l;
  }
}
